.pokemon-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.pokemon-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px 16px;
    background: var(--bg);
    color: var(--text);

    border: 3px solid var(--text);
    border-radius: 12px;

    box-shadow: 0 4px 0 var(--text);
}

.pokemon-item:active {
    transform: translateY(2px);
    box-shadow: 0 0 0 var(--text);
}

.pokemon-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.pokemon-image {
    width: 40px;
    height: 40px;
    image-rendering: pixelated;
}

.pokemon-name {
    font-weight: 800;
    font-size: 1rem;
    text-transform: capitalize;
}

.delete-btn {
    background: var(--bg);
    color: var(--text);
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}

.delete-btn:active {
    transform: translateY(2px);
}
