#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.pokemon-btn {
  font-family: 'Arial', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;

  padding: 14px 28px;
  border-radius: 999px;

  background: linear-gradient(
          to bottom,
          #ff1a1a 0%,
          #ff1a1a 45%,
          #ffffff 45%,
          #ffffff 100%
  );

  border: 4px solid #000;
  color: #000;
  cursor: pointer;

  box-shadow:
          0 6px 0 #000,
          0 8px 12px rgba(0, 0, 0, 0.3);

  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

/* Hover effect */
.pokemon-btn:hover {
  transform: translateY(2px);
  box-shadow:
          0 4px 0 #000,
          0 6px 10px rgba(0, 0, 0, 0.3);
}

/* Active (click) */
.pokemon-btn:active {
  transform: translateY(6px);
  box-shadow:
          0 0 0 #000,
          0 2px 4px rgba(0, 0, 0, 0.3);
}

.back-home-btn {
    position: fixed;
    top: 16px;
    left: 16px;
    z-index: 1000;

    padding: 8px 14px;
    border-radius: 999px;

    font-weight: 800;
    cursor: pointer;
}

.toast {
    position: fixed;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);

    background: var(--bg);
    color: var(--text);
    border: 3px solid var(--text);

    padding: 12px 24px;
    border-radius: 999px;
    font-weight: 800;
    box-shadow: 0 4px 0 var(--text);
    z-index: 1000;

    animation: slideIn 0.3s ease, fadeOut 0.3s ease 2.7s forwards;
}

/* Slide & fade animation */
@keyframes slideIn {
    0% { transform: translateX(-50%) translateY(20px); opacity: 0; }
    100% { transform: translateX(-50%) translateY(0); opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
