@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg: #242424;
  --text: rgba(255, 255, 255, 0.87);

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.3s, color 0.3s;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: "Fascinate", system-ui;
  font-weight: 400;
  font-style: normal;
}

.pokemon-btn {
  font-family: 'Arial', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;

  padding: 14px 28px;
  border-radius: 999px;

  background: linear-gradient(
          to bottom,
          #ff1a1a 0%,
          #ff1a1a 45%,
          #ffffff 45%,
          #ffffff 100%
  );

  border: 4px solid #000;
  color: #000;
  cursor: pointer;

  box-shadow:
          0 6px 0 #000,
          0 8px 12px rgba(0, 0, 0, 0.3);

  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

/* Hover effect */
.pokemon-btn:hover {
  transform: translateY(2px);
  box-shadow:
          0 4px 0 #000,
          0 6px 10px rgba(0, 0, 0, 0.3);
}

/* Active (click) */
.pokemon-btn:active {
  transform: translateY(6px);
  box-shadow:
          0 0 0 #000,
          0 2px 4px rgba(0, 0, 0, 0.3);
}


@media (prefers-color-scheme: light) {
  :root {
    --bg: #f9f9f9;
    --text: #000000;
  }
  a:hover {
    color: #747bff;
  }
}

[data-theme="dark"] {
  --bg: #242424;
  --text: rgba(255, 255, 255, 0.87);
}

[data-theme="light"] {
  --bg: #f9f9f9;
  --text: #000000;
}
