@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg: #242424;
  --text: rgba(255, 255, 255, 0.87);

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.3s, color 0.3s;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: "Fascinate", system-ui;
  font-weight: 400;
  font-style: normal;
}


@media (prefers-color-scheme: light) {
  :root {
    --bg: #f9f9f9;
    --text: #000000;
  }
  a:hover {
    color: #747bff;
  }
}

[data-theme="dark"] {
  --bg: #242424;
  --text: rgba(255, 255, 255, 0.87);
}

[data-theme="light"] {
  --bg: #f9f9f9;
  --text: #000000;
}
