.pokedesk {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

@media (max-width: 480px) {
    .pokedesk {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}